/* 文字 */

/*----------字号*/

/*----------样式*/
.font_yh{ font-family:\5FAE\8F6F\96C5\9ED1;}
.font_newst14{font:bold 14px/24px NSimSun;color:#fffa6d;}
.font_yh18{font:18px/36px Microsoft YaHei;color:white;}
/*----------颜色*/
