html,body,form,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,em,address,a,input,textarea,span,strong,img{margin:0px;padding:0px}
body{font-size:12px;line-height:180%;color:#000;font-family:Arial,Helvetica,sans-serif,\5B8B\4F53;background:#D6DED3;}
ul,ol,dl{list-style:none}
input,textarea,select,button{font-size:12px}
img{border:none}
a{color:#000;text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none}
a:hover,a:active{text-decoration:underline}
table{border-collapse:collapse}
table,thead,tbody,tfoot,tr,td{margin:0px}
.clear{clear:both;height:0px;line-height:0px;font-size:0px;overflow:hidden;visibility:hidden}
html{min-width:1002px}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal}
::selection{background:#6f346a;color:#fff}
::-moz-selection{background:#6f346a;color:#fff}
::-webkit-selection{background:#6f346a;color:#fff}