/* ²¼¾Ö */
/*----------ÕûÌå */
#bg_1{ background:url(../images/bg_4.jpg) no-repeat top center; width:100%;}
#body_1{ width:1000px; margin:0 auto;}
/*----------Í· */
#t_menu{ marign_left:16px;_marign_left:8px; width:964px; height:50px; float:left;background:url(../images/t_menu.png) 0 0 no-repeat; padding:0px 69px 35px 53px; overflow:hidden;}
#t_menu a{ font-size:18px; height:50px; line-height:50px; font-family:\5FAE\8F6F\96C5\9ED1;}
#t_menu a:link,#t_menu a:visited,#t_menu a;avtive{color:#FFF}
a.t_menu1:link,a.t_menu1:visited,a.t_menu1:active{ width:95px; height:50px; float:left; padding-left: 75px; }
a.t_menu1:hover{ float:left; color:#d8eaec; text-decoration:none;}
a.t_menu2:link,a.t_menu2:visited,a.t_menu2:active{ width:105px; height:50px; float:left; text-align:center;}
a.t_menu2:hover{ float:left; color:#d8eaec; text-decoration:none;}
a.t_menu3:link,a.t_menu3:visited,a.t_menu3:active{ width:105px; height:50px; float:left;  text-align:center;  }
a.t_menu3:hover{ float:left; color:#d8eaec; text-decoration:none;}
a.t_menu4:link,a.t_menu4:visited,a.t_menu4:active{ width:105px; height:50px; float:left;text-align:center;}
a.t_menu4:hover{ float:left; color:#d8eaec; text-decoration:none;}
a.t_menu5:link,a.t_menu5:visited,a.t_menu5:active{ width:105px; height:50px; float:left;text-align:center;}
a.t_menu5:hover{ float:left; color:#d8eaec; text-decoration:none;}
a.t_menu6:link,a.t_menu6:visited,a.t_menu6:active{ width:105px; height:50px; float:left; padding-left:14px;}
a.t_menu6:hover{ float:left; color:#d8eaec; text-decoration:none;}
a.t_menu7:link,a.t_menu7:visited,a.t_menu7:active{ width:105px; height:50px; float:left; padding-left:14px;}
a.t_menu7:hover{ float:left; color:#d8eaec; text-decoration:none;}
#head{ /*background:url(../images/slogan.png) no-repeat 200px 0px;*/ width:1000px; height:234px; float:left;}
#lunbo{ width:482px; height:96px; padding:1px; background:#fff; border-top:3px solid #253e05; border-right:3px solid #253e05; border-left:3px solid #253e05; margin:133px 0px 0px 299px;}

/*----------×ó */
#leftside{ width:267px; padding-left:32px; float:left;position:relative;}
a.game_start{position:relative;top:0;left;0;background:url(../images/game_start.png) no-repeat}
a.game_start:link,a.game_start:visited,a.game_start:active{ background-position:-4px 0px; width:267px; height:152px; margin-bottom:5px; display:block;}
a.game_start:hover{ background-position:-4px -153px;width:267px; height:152px; margin-bottom:5px; display:block;}
#l_bg1{ background:url(../images/l_bg1.png) no-repeat; width:257px; height:119px; padding:44px 0px 0px 10px;}
.fwq_tj{ background:url(../images/pin_1.png) no-repeat; width:217px; height:25px; padding:4px 0px 0px 35px; color:#fff; margin-bottom:5px;}
#l_bg2{ background:url(../images/l_bg1.png) no-repeat 0px -167px; width:232px; height:88px; padding:45px 0 0 35px; color:#ffb849;}
.l_bg0{ background:url(../images/l_bg2.png) repeat-y; width:227px; color:#FFF; padding:0px 0px 8px 40px;}
.l_bgd{ background: url(../images/l_bg3.png) no-repeat 0 -163px; width:267px; height:21px;}
#l_bg3{ background:url(../images/l_bg3.png) no-repeat; width:267px; height:53px;}
#l_bg4{ background:url(../images/l_bg3.png) no-repeat 0px -54px; width:267px; height:53px;}
#l_bg5{ background:url(../images/l_bg3.png) no-repeat 0px -108px; width:267px; height:53px;}
a.btn_01:link,a.btn_01:visited,a.btn_01:active{ background: url(../images/pin_1.png) no-repeat 0px -30px; width:76px; height:21px; color:#fff; text-decoration:none; text-align:center; margin:5px 10px 5px 0px; line-height:20px; float:left;}
a.btn_01:hover{ background: url(../images/pin_1.png) no-repeat -77px -30px; width:76px; height:21px; color:#fff; text-decoration:none; text-align:center; line-height:20px; float:left;}
/*----------ÓÒ */
#rightside{ width:692px; background:#8a6547; float:left;}
#r_sidel{ width:487px; padding-left:3px; float:left;}
#jiaodiantu{ background:url(../images/m_bg1.png) no-repeat 0px 4px; width:487px; height:245px; padding:6px 0px 0px 1px; margin-bottom:8px;}
.nTab{ float: left;width: 100%;margin: 0 auto;position:relative;left:-1px;}
.nTab .TabTitle{ background:url(../images/hdm_title_bg.png) 0px -29px; clear: both;height: 29px;overflow: hidden;}
.nTab .TabTitle ul{border:0;margin:0;padding:0;}
.nTab .TabTitle li{float: left;width: 70px;cursor: pointer;padding-top: 4px;padding-right: 0px;
padding-left: 0px;padding-bottom: 2px;list-style-type: none;font-size: 12px;text-align: center;margin: 0; display:block;}
.nTab .TabTitle .active{ background:url(../images/hdm_title_bg.png) no-repeat; width:84px; height:29px; color:#fff;}
.nTab .TabTitle .normal{ background:url(../images/hdm_title_bg.png) no-repeat 0px -29px; width:84px; height:29px;}
.nTab .TabContent{ width:auto;margin: 0px auto; padding:3px 30px 0px 20px;}
.none { display:none;}
.news1 ul{ padding:0; margin:0;}
.news1 li{ color:#d8e7ec; background:url(../images/zs_line.png) no-repeat bottom center; line-height:25px;}
.news1 a{ color:#d8e7ec; text-decoration:none;}
.news1 a:hover{ color:#78eef5; text-decoration:none;}
.f_r{ float:right;}
#banner_middle{ width:134px; padding:9px 0px 0px 11px; float:left;}
.boder_1{ border:1px solid #bbc3a4; margin-bottom:5px;}
.boder_2{ border:1px solid #73835f; background:#fff; padding:1px;}
.boder_3{ border:3px solid #2d668b; background:#fff; padding:1px; margin-right:4px;}
.boder_4{ border:1px solid #bbc3a4; margin-bottom:8px;}
.m_bg{ background:#deedef; width:479px; border-bottom:3px solid #7db4b8; border-left:1px solid #bac3a6; border-right:1px solid #bac3a6; padding:10px 0px 9px 5px; margin-bottom:8px;}
#m_title1{ background:url(../images/m_title_bg.png) no-repeat; width:486px; height:33px;}
#m_title2{ background:url(../images/m_title_bg.png) no-repeat 0px -33px; width:486px; height:33px;}
#m_title3{ background:url(../images/m_title_bg.png) no-repeat 0px -66px; width:486px; height:33px;}
#m_title4{ background:url(../images/m_title_bg.png) no-repeat 0px -99px; width:486px; height:33px;}
a.more:link,a.more:visited,a.more:active{ color:#fff; text-decoration:none; padding:5px 10px 0px 0px;display:inline-block;width:65px;; float:right;text-indent:-4000px;}a.more:hover{ color:#d8eaec;}
a.more2:link,a.more2:visited,a.more2:active{ background:url(../images/more_bg.gif) no-repeat; width:47px; height:17px; font-size:12px; color:#fff; line-height:17px; margin:4px 3px 0 0; float:right;}
a.more2:hover{ background:url(../images/more_bg.gif) no-repeat 0px -17px; width:47px; height:17px; font-size:12px; color:#78eef5; text-decoration:none; line-height:17px; margin:4px 3px 0 0; float:right;}
#m_zs1{ background:url(../images/zs_m01.png) no-repeat; width:465px; height:53px; float:left;}
.yxzl{ width:155px; float:left;}
.yxzl a{ background:url(../images/point.gif) no-repeat 0px 5px; padding-left:9px; margin:0px 10px; line-height:24px; color:#293416;}
.nTab1{ width: 100%;margin: 0 auto;}
.nTab1 .TabTitle{ border-bottom:1px solid #b75364; clear: both;height: 21px;overflow: hidden;}
.nTab1 .TabTitle ul{border:0;margin:0;padding:0;}
.nTab1 .TabTitle li{float: left;width: 70px;cursor: pointer;padding-top: 4px;padding-right: 0px;
padding-left: 0px;padding-bottom: 2px;list-style-type: none;font-size: 14px;text-align: center;margin: 0; display:block;}
.nTab1 .TabTitle .active{ background:url(../images/hdm2_title_bg.png) no-repeat; width:92px; height:21px; color:#fff; font:"Î¢ÈíÑÅºÚ", "ºÚÌå","ËÎÌå",  Arial; line-height:14px; font-style:italic;}
.nTab1 .TabTitle .normal{ width:92px; height:21px; color:#b75364; font:"Î¢ÈíÑÅºÚ", "ºÚÌå","ËÎÌå",  Arial; line-height:14px; font-style:italic;}
.nTab1 .TabContent{ width:auto;margin: 0px auto; padding:3px 0px 0px 0px;}
.yxgl{ background:url(../images/zs_line2.png) no-repeat bottom center; width:211px; margin:0px 8px 0px 8px; float:left;}
.yxgl a{ text-decoration:none; line-height:24px; color:#293416;}.yxgl a:hover{ text-decoration:none; line-height:24px; color:#0e739f;}
#wjhd_1{ width:150px; float:left;}
#wjhd_2{ width:320px; float:left;}
.b_line{ background:url(../images/zs_line3.png) no-repeat bottom center; width:320px; height:26px;}
#wjhd_2 a{ text-decoration:none;color:#293416;}
#wjhd_2 a:hover{ color:#0e739f;}

#r_sider{ background:url(../images/bg_3.jpg) no-repeat bottom right; width:198px; padding:4px 0px 273px 3px; float:left;}
.r_bg1{ background:url(../images/r_bg1.png) no-repeat; width:181px; height:42px; color:#fefefe; font-family: "Î¢ÈíÑÅºÚ", "ºÚÌå","ËÎÌå", Arial; font-size:14px; font-style:italic; padding:3px 5px 0px 10px;}
.r_bg2{ width:195px; padding-bottom:15px;}
.r_bg2 a{ background:url(../images/point.gif) no-repeat 0px 5px; padding-left:9px; margin:0px 10px; line-height:24px; color:#d8e7ec;}
.luntan{ background:url(../images/zs_line4.png) no-repeat bottom center; width:162px; padding-left:32px;}
.r_bg3{ width:195px; padding-bottom:15px; line-height:24px;}
.r_bg3 li{ background:url(../images/zs_line4.png) no-repeat bottom center; width:162px; padding-left:32px;}

.r_bg3 a{ color:#D8E7EC; text-decoration:none;}.r_bg3 a:hover{ color:#78eef5; text-decoration:none;}

/*----------½Å */
#bg_bottom{ background:url(../images/bg_bottom.jpg) no-repeat top center; width:100%; height:104px;}
#bqxx{ background:url(../images/70yx.png) no-repeat 10px 30px; padding:30px 0px 0px 150px; width:850px; height:70px; margin:0 auto; color:#fff; line-height:18px;}
#bqxx a{ color:#fff;}

